.tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1.5rem;

    position: absolute;
    width: 46rem;
    height: 17.938rem;
    left: calc(50% - 46rem/2);
    top: 10rem;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    /* gap: 35rem; */

    width: 46rem;
    height: 1.19rem;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.tasksCreated {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;

    width: 8.688rem;
    height: 1.188rem;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.tasksCreated p {
    width: 6.62rem;
    height: 1.063rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 17px;

    color: var(--blue);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 0.625rem;

    width: 1.563rem;
    height: 1.188rem;

    background: var(--gray-400);
    border-radius: 999px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.taskDone {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;

    width: 6.938rem;
    height: 1.188rem;
}

.taskDone>p {
    width: 4.875rem;
    height: 1.063rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.063rem;

    color: var(--purple);
}

.empty {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    gap: 1rem;

    width: 46rem;
    height: 15.25rem;

    border-top: 1px solid var(--gray-400);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    color: var(--gray-300);
}

.listTask {
    /* Task */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px;
    gap: 12px;

    background: var(--gray-500);

    border: 1px solid var(--gray-400);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

input[type="checkbox"] {
    height: 1.15rem;
    width: 1.15rem;
    background: var(--gray-500);
    border: 2px solid var(--blue);
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: border 0.2s, color 0.4s;
}

input[type="checkbox"]:checked {
    color: aliceblue;
    background: var(--purple-dark) url("../assets/check.svg") center no-repeat;
    background-size: 1rem;
    border: none;
}

.listTask button {
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;
    line-height: 0;
    /*ajusta o tamanho da bordar ao redor do botão*/
    border-radius: 2px;
}


.trash {
    flex: none;
    order: 2;
    flex-grow: 0;
    color: var(--gray-300);
}