.todoHeader {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 5.5rem 0 6.5rem;
}

.createNewTask {
    display: flex;
    width: 100%;
    position: absolute;
    top: 12.5rem;
    padding: 0 5%;
}

.newTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.todoContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 5%;
    top: 20rem;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.tasksCreated {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;

    width: 8.688rem;
    height: 1.188rem;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.tasksCreated p {
    width: 6.62rem;
    height: 1.063rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 17px;

    color: var(--blue);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.75rem;

    background: var(--gray-400);
    border-radius: 12px;
}

.taskDone {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;
}

.taskDone>p {
    width: 4.875rem;
    height: 1.063rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.063rem;

    color: var(--purple);
}

@media (max-width: 1150px) {
    html {
        font-size: 87.5%;
    }
}